body {
    font-family: 'Inter', sans-serif;
    background: #051D3B;
    border-radius: 40px;
    font-size: 16px;
    height: 24px;
}

/*cabeca da pagina*/
.head-of-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px 0;
}
.logo-head-of-page {
    width: 25%;
}
.img-logo {
    width: 60%;
    margin-left: 2em;
}
.search-head-of-page {
    border: none;
    width: 50%;
}
.search-text {
    background-color: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 16px;
    line-height: 20px;
    border: none;
    width: 100%;
    height: 56px;
    padding-left: 1em;
    
}
.user-photo-head-of-page {
    width: calc(25% - 1em);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 1em;
    color: white;
    font-size: 1.2em;
}
.userphoto {
    border-radius: 50%;
    width: 80px;
    margin-right: 1em;
}

.title-sidebar {
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 12px;
    height: 18px;
    padding: 1em;
}
/*body*/
.main-content {
    display: flex;
    justify-content: space-between;
}
/*menu esquerda*/
.left-page {
    width: 25%;
    padding: 0 2em;
    box-sizing: border-box;
}

.link-nav {
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.icon-cointainer {
    background: rgba(80, 129, 251, 0.16);
    padding: 1em;
    border-radius: 1em;
    margin: 1em;
}
.icon-cointainer:hover {
    background: rgba(80, 129, 251, 0.64);
}
.icon-cointainer:active {
    background: rgba(80, 129, 251, 1);
}


/*centro da pagina*/
.middle-page {
    text-align: center;
    width: 50%;
}
.buttons {
    display: block;
    position: absolute;
    margin-left: 1.5em;

}
.button-red, .button-yellow, .button-green {
    border: none;
    padding:0.5em;
    margin: 0.2em;
    text-decoration: none;
    border-radius: 50px;
    text-align: left;
}
.button-red {
    background-color: #FF5F56;
}
.button-yellow {
    background-color: #FFBD2E;
}
.button-green {
    background-color: #27C93F;
}
.text-content-container {
    width: calc(100% - 64px);
    height: 334px;
    background-color: #6BD1FF;
    border-radius: 40px;
    padding: 32px;
}

.text-editor {
    font-family: 'Roboto Mono', monospace;
    background-color: #141414;
    color: #FFFFFF;
    width: calc(100% - 4em);
    height: calc(334px - 4em);
    text-align: justify;
    padding: 2em;
}

.button-highlight, .save-project {
    background: #5081FB;
    color: #051D3B;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: 56px;
    text-align: center;
    margin: 1em 0;
}

.button-highlight:hover, .save-project:hover {
    background: #7BA4FC;
}

.button-highlight:active, .save-project:active {
    background: #7BA4FC;
    border: solid;
    border-color: #5081FB;
}
.button-highlight:focus .save-project:focus {
    background: #96B9FD;
}


/*menu direito*/
.menu-right {
    width: 25%;
    padding: 0 2em;
    box-sizing: border-box;
}
.my-project, .personalization {
    max-width: 100%;
}

.personalization {
    padding-top: 1em;
}

.name-project, .description-project, .language {
    background: rgba(255, 255, 255, 0.16);
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    width: 100%;
    height: auto;
    padding: 1em;
    box-sizing: border-box;
    margin-bottom: .5em;
}

.language option{
    background-color: #051D3B;
    color: #FFFFFF;
}

.language:hover{
    background-color: #FFFFFF3D;
}

.color-project {
    background: #051D3B;
    border-radius: 8px;
    border: solid;
    border-color: #FFFFFF;
    width: 100%;
    height: auto;
    margin: 1em 0;
    box-sizing: border-box;
    height: 4em;
}
.button-mobile {
    display: none;
}

@media (max-width: 400px) {
    .head-of-page {
        margin: 0px;
        display:initial;
    }
    .logo-head-of-page {
        width: 60%;
    }
    .img-logo {
        width: 100%;
        margin-left: 0;
        margin-left: 11px;
    }
    .user-photo-head-of-page {
        display: none;
    }
    
    .search-text {
        background:url(imgs/search.svg) right 1em center no-repeat;
        position: absolute;
        right: 5em;
        top: 1em;
        width: 100px;
        height: 50px;
    }
    .search-text::placeholder {
        color: transparent;
    }
    .link-nav-ul {
        display: block;
        position:absolute;
        width: 100%;
        right: 0px;
        border-radius: 8px;
        background: #2D415B;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
    }
    .menu-nav.active .link-nav-ul{
        visibility: visible;
        height: calc(100vh - 70px);
        overflow-y: auto;
    }
    .link-nav-ul a {
        padding: 1rem 0;
        margin: 0 1rem;
        background: rgba(80, 129, 251, 0,16);
    }
    .link-nav-ul:hover {
        background: rgba(80, 129, 251, 0,64);
    }    
    .link-nav-ul:active {
        background: rgba(80, 129, 251, 1);
    }
    .left-page {
        width: 100%;
    }
    
    .left-page h1 {
        display: none;
    }
    .button-mobile {
        position: absolute;
        right: 1em;
        top: 1.5em;
        display: flex;
        font-size: 1rem;
        border:none;
        background: none;
        cursor: pointer;
    }

    .hamburger {
        width: 20px;
        border-top: 4px solid #FFFFFF;
    }
    .hamburger::after,.hamburger::before {
        content:'';
        display: block;
        width: 20px;
        height: 4px;
        background-color: #FFFFFF;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .menu-nav.active .hamburger{
        border-top-color: transparent;
    }
    .menu-nav.active .hamburger::before{
        transform: rotate(135deg);
    }
    .menu-nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    .main-content {
        display: flex;
        flex-direction: column;
    }
    .middle-page, .menu-right {
        width: 100%;
        padding: 0 2em;
        box-sizing: border-box;
    }
    .text-content-container {
        border-radius: 8px;
    }
    .preview hljs typescript {
        overflow: auto;
    }
    .text-editor-container {
        overflow: scroll;
        height: 100%;
    }
}